@media (max-width:768px) {
  .iphone6781row0 {
    display: flex;
    margin-left: 28px;
    margin-top: 37px;
    width: 339px;
    height: 136px;
    align-items: flex-end
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckfar.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 160px;
    height: 100%
  }
  .style1 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: .5625em;
    margin-left: 16px;
    height: 124px
  }
  .iphone6781row1 {
    display: flex;
    margin-left: 28px;
    margin-top: 24px;
    width: 339px;
    height: 136px;
    align-items: flex-end
  }
  .style2 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckg2n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 160px;
    height: 100%
  }
  .style3 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: .5625em;
    margin-left: 16px;
    height: 124px
  }
  .style4 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 40px;
    margin-top: 38px;
    width: 312px;
    height: 128px;
    align-items: center;
    flex-direction: column
  }
  .style6 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 1.6875em;
    margin-top: 7px;
    height: 96px
  }
  .style7 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckgtz.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 23px;
    margin-top: 39px;
    width: 328px;
    height: 251px
  }
  .iphone6784row1 {
    display: flex;
    margin-left: 24px;
    margin-top: 52px;
    width: 328px;
    height: 91px;
    align-items: stretch;
    justify-content: space-between
  }
  .style10,
  .style8,
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckhms.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    width: 98px
  }
  .style10,
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckiij.png)
  }
  .style10 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckj87.png)
  }
  .iphone6782row0 {
    display: flex;
    margin-left: 24px;
    margin-top: 23px;
    width: 340px;
    height: 147px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckju0.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 160px;
    height: 100%
  }
  .style12 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: .6875em;
    margin-left: 20px;
    height: 134px
  }
  .iphone6782row1 {
    display: flex;
    margin-left: 24px;
    margin-top: 20px;
    width: 340px;
    height: 147px
  }
  .style13 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckkgd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 160px;
    height: 100%
  }
  .style14 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: .6875em;
    margin-left: 20px;
    height: 134px
  }
  .iphone6782row2 {
    display: flex;
    margin-left: 24px;
    margin-top: 20px;
    width: 340px;
    height: 147px
  }
  .style15 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckl73.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 160px;
    height: 100%
  }
  .style16 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: .6875em;
    margin-left: 20px;
    height: 134px
  }
  .iphone6782row3 {
    display: flex;
    margin-left: 24px;
    margin-top: 20px;
    width: 340px;
    height: 147px
  }
  .style17 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqcklt9.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 160px;
    height: 100%
  }
  .style18 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: .6875em;
    margin-left: 20px;
    height: 134px
  }
  .style19 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckmj8.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 23px;
    margin-top: 39px;
    width: 328px;
    height: 251px
  }
  .iphone6785row1 {
    display: flex;
    margin-left: 24px;
    margin-top: 52px;
    width: 328px;
    height: 91px;
    align-items: stretch;
    justify-content: space-between
  }
  .style20,
  .style21,
  .style22 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckn96.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    width: 98px
  }
  .style21,
  .style22 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqcko1k.png)
  }
  .style22 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckore.png)
  }
  .style23,
  .style25 {
    background-color: #f4f4f4;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    margin-left: 24px;
    margin-top: 52px;
    width: 67px;
    height: 66px
  }
  .style23 {
    display: flex;
    margin-top: 27px;
    width: 328px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end
  }
  .style24 {
    color: #707070;
    font-family: itcavantgardegothicstd,serif;
    font-size: 1.625em;
    font-weight: 500;
    height: 45px
  }
  .style26 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckpdf.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 23px;
    margin-top: 39px;
    width: 328px;
    height: 251px
  }
  .iphone6786row1 {
    display: flex;
    margin-left: 24px;
    margin-top: 52px;
    width: 328px;
    height: 91px;
    align-items: stretch;
    justify-content: space-between
  }
  .style27,
  .style28 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 98px
  }
  .style27 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckpzr.png)
  }
  .style28 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckqs5.png)
  }
  .style28,
  .style29,
  .style30 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style29 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckrhh.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 98px
  }
  .style30 {
    background-color: #0d16ff;
    margin-left: 124px;
    margin-top: 91px;
    width: 57px;
    height: 57px
  }
  .style51,
  .style52 {
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .style51 {
    margin-top: 0;
    background-color: #000;
    margin-left: 0;
    width: 375px;
    height: 55px
  }
  .style52 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 115px;
    width: 125px;
    height: 39px;
    align-items: center
  }
  .style53 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: .5625em;
    height: 11px
  }
  .style54 {
    background-color: #ededed;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 20px;
    margin-top: 32px;
    width: 335px;
    height: 208px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center
  }
  .style55 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.75em;
    height: 196px
  }
  .iphone6783row0 {
    display: flex;
    margin-left: 26px;
    margin-top: 23px;
    width: 340px;
    height: 147px
  }
  .style56 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckvu4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 160px;
    height: 100%
  }
  .style57 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: .6875em;
    margin-left: 20px;
    height: 134px
  }
  .iphone6783row1 {
    display: flex;
    margin-left: 26px;
    margin-top: 20px;
    width: 340px;
    height: 147px
  }
  .style58 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckwjy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 160px;
    height: 100%
  }
  .style59 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: .6875em;
    margin-left: 20px;
    height: 134px
  }
  .iphone6783row2 {
    display: flex;
    margin-left: 26px;
    margin-top: 20px;
    width: 340px;
    height: 147px
  }
  .style60 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckx7r.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 160px;
    height: 100%
  }
  .style61 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: .6875em;
    margin-left: 20px;
    height: 134px
  }
  .iphone6783row3 {
    display: flex;
    margin-left: 26px;
    margin-top: 20px;
    width: 340px;
    height: 147px
  }
  .style62 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckxxe.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 160px;
    height: 100%
  }
  .style63 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: .6875em;
    margin-left: 20px;
    height: 134px
  }
  .style64 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckyjd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 667px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style71,
  .style73 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    flex-direction: column
  }
  .style71 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqcl190.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 623px
  }
  .style73 {
    background-color: #fff;
    margin-left: 228px;
    margin-top: 11px;
    width: 139px;
    height: 43px;
    align-items: center;
    justify-content: center
  }
  .style72,
  .style74 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: .5625em;
    height: 11px
  }
  .style72 {
    color: #fff;
    font-size: .6875em;
    margin-left: 10px;
    margin-top: 439px;
    height: 130px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .iphone6781row0 {
    display: flex;
    margin-left: 57px;
    margin-top: 76px;
    width: 694px;
    height: 279px;
    align-items: flex-end
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckfar.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 328px;
    height: 100%
  }
  .style1 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 1.1520000000000001em;
    margin-left: 33px;
    height: 254px
  }
  .iphone6781row1 {
    display: flex;
    margin-left: 57px;
    margin-top: 49px;
    width: 694px;
    height: 279px;
    align-items: flex-end
  }
  .style2 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckg2n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 328px;
    height: 100%
  }
  .style3 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 1.1520000000000001em;
    margin-left: 33px;
    height: 254px
  }
  .style4 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 82px;
    margin-top: 78px;
    width: 639px;
    height: 262px;
    align-items: center;
    flex-direction: column
  }
  .style6 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 3.456em;
    margin-top: 14px;
    height: 197px
  }
  .style7 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckgtz.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 47px;
    margin-top: 80px;
    width: 672px;
    height: 514px
  }
  .iphone6784row1 {
    display: flex;
    margin-left: 49px;
    margin-top: 106px;
    width: 672px;
    height: 186px;
    align-items: stretch;
    justify-content: space-between
  }
  .style10,
  .style8,
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckhms.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    width: 201px
  }
  .style10,
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckiij.png)
  }
  .style10 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckj87.png)
  }
  .iphone6782row0 {
    display: flex;
    margin-left: 49px;
    margin-top: 47px;
    width: 696px;
    height: 301px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckju0.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 328px;
    height: 100%
  }
  .style12 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.408em;
    margin-left: 41px;
    height: 274px
  }
  .iphone6782row1 {
    display: flex;
    margin-left: 49px;
    margin-top: 41px;
    width: 696px;
    height: 301px
  }
  .style13 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckkgd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 328px;
    height: 100%
  }
  .style14 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.408em;
    margin-left: 41px;
    height: 274px
  }
  .iphone6782row2 {
    display: flex;
    margin-left: 49px;
    margin-top: 41px;
    width: 696px;
    height: 301px
  }
  .style15 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckl73.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 328px;
    height: 100%
  }
  .style16 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.408em;
    margin-left: 41px;
    height: 274px
  }
  .iphone6782row3 {
    display: flex;
    margin-left: 49px;
    margin-top: 41px;
    width: 696px;
    height: 301px
  }
  .style17 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqcklt9.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 328px;
    height: 100%
  }
  .style18 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.408em;
    margin-left: 41px;
    height: 274px
  }
  .style19 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckmj8.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 47px;
    margin-top: 80px;
    width: 672px;
    height: 514px
  }
  .iphone6785row1 {
    display: flex;
    margin-left: 49px;
    margin-top: 106px;
    width: 672px;
    height: 186px;
    align-items: stretch;
    justify-content: space-between
  }
  .style20,
  .style21,
  .style22 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckn96.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    width: 201px
  }
  .style21,
  .style22 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqcko1k.png)
  }
  .style22 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckore.png)
  }
  .style23,
  .style25 {
    background-color: #f4f4f4;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    margin-left: 49px;
    margin-top: 106px;
    width: 137px;
    height: 135px
  }
  .style23 {
    display: flex;
    margin-top: 55px;
    width: 672px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end
  }
  .style24 {
    color: #707070;
    font-family: itcavantgardegothicstd,serif;
    font-size: 3.3280000000000003em;
    font-weight: 500;
    height: 92px
  }
  .style26 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckpdf.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 47px;
    margin-top: 80px;
    width: 672px;
    height: 514px
  }
  .iphone6786row1 {
    display: flex;
    margin-left: 49px;
    margin-top: 106px;
    width: 672px;
    height: 186px;
    align-items: stretch;
    justify-content: space-between
  }
  .style27,
  .style28 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 201px
  }
  .style27 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckpzr.png)
  }
  .style28 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckqs5.png)
  }
  .style28,
  .style29,
  .style30 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style29 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckrhh.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 201px
  }
  .style30 {
    background-color: #0d16ff;
    margin-left: 254px;
    margin-top: 186px;
    width: 117px;
    height: 117px
  }
  .style51,
  .style52 {
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .style51 {
    margin-top: 0;
    background-color: #000;
    margin-left: 0;
    width: 768px;
    height: 113px
  }
  .style52 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 236px;
    width: 256px;
    height: 80px;
    align-items: center
  }
  .style53 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 1.1520000000000001em;
    height: 23px
  }
  .style54 {
    background-color: #ededed;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 41px;
    margin-top: 66px;
    width: 686px;
    height: 426px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center
  }
  .style55 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 3.584em;
    height: 401px
  }
  .iphone6783row0 {
    display: flex;
    margin-left: 53px;
    margin-top: 47px;
    width: 696px;
    height: 301px
  }
  .style56 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckvu4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 328px;
    height: 100%
  }
  .style57 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.408em;
    margin-left: 41px;
    height: 274px
  }
  .iphone6783row1 {
    display: flex;
    margin-left: 53px;
    margin-top: 41px;
    width: 696px;
    height: 301px
  }
  .style58 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckwjy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 328px;
    height: 100%
  }
  .style59 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.408em;
    margin-left: 41px;
    height: 274px
  }
  .iphone6783row2 {
    display: flex;
    margin-left: 53px;
    margin-top: 41px;
    width: 696px;
    height: 301px
  }
  .style60 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckx7r.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 328px;
    height: 100%
  }
  .style61 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.408em;
    margin-left: 41px;
    height: 274px
  }
  .iphone6783row3 {
    display: flex;
    margin-left: 53px;
    margin-top: 41px;
    width: 696px;
    height: 301px
  }
  .style62 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckxxe.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 328px;
    height: 100%
  }
  .style63 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.408em;
    margin-left: 41px;
    height: 274px
  }
  .style64 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckyjd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 1366px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style71,
  .style73 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    flex-direction: column
  }
  .style71 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqcl190.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 1276px
  }
  .style73 {
    background-color: #fff;
    margin-left: 467px;
    margin-top: 23px;
    width: 285px;
    height: 88px;
    align-items: center;
    justify-content: center
  }
  .style72,
  .style74 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 1.1520000000000001em;
    height: 23px
  }
  .style72 {
    color: #fff;
    font-size: 1.408em;
    margin-left: 20px;
    margin-top: 899px;
    height: 266px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .iphone6781row0 {
    display: flex;
    margin-left: 69px;
    margin-top: 91px;
    width: 832px;
    height: 334px;
    align-items: flex-end
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckfar.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 393px;
    height: 100%
  }
  .style1 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 1.38em;
    margin-left: 39px;
    height: 304px
  }
  .iphone6781row1 {
    display: flex;
    margin-left: 69px;
    margin-top: 59px;
    width: 832px;
    height: 334px;
    align-items: flex-end
  }
  .style2 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckg2n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 393px;
    height: 100%
  }
  .style3 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 1.38em;
    margin-left: 39px;
    height: 304px
  }
  .style4 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 98px;
    margin-top: 93px;
    width: 765px;
    height: 314px;
    align-items: center;
    flex-direction: column
  }
  .style6 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 4.14em;
    margin-top: 17px;
    height: 236px
  }
  .style7 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckgtz.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 56px;
    margin-top: 96px;
    width: 805px;
    height: 616px
  }
  .iphone6784row1 {
    display: flex;
    margin-left: 59px;
    margin-top: 128px;
    width: 805px;
    height: 223px;
    align-items: stretch;
    justify-content: space-between
  }
  .style10,
  .style8,
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckhms.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    width: 240px
  }
  .style10,
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckiij.png)
  }
  .style10 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckj87.png)
  }
  .iphone6782row0 {
    display: flex;
    margin-left: 59px;
    margin-top: 56px;
    width: 834px;
    height: 361px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckju0.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 393px;
    height: 100%
  }
  .style12 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.6866666666666665em;
    margin-left: 49px;
    height: 329px
  }
  .iphone6782row1 {
    display: flex;
    margin-left: 59px;
    margin-top: 49px;
    width: 834px;
    height: 361px
  }
  .style13 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckkgd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 393px;
    height: 100%
  }
  .style14 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.6866666666666665em;
    margin-left: 49px;
    height: 329px
  }
  .iphone6782row2 {
    display: flex;
    margin-left: 59px;
    margin-top: 49px;
    width: 834px;
    height: 361px
  }
  .style15 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckl73.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 393px;
    height: 100%
  }
  .style16 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.6866666666666665em;
    margin-left: 49px;
    height: 329px
  }
  .iphone6782row3 {
    display: flex;
    margin-left: 59px;
    margin-top: 49px;
    width: 834px;
    height: 361px
  }
  .style17 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqcklt9.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 393px;
    height: 100%
  }
  .style18 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.6866666666666665em;
    margin-left: 49px;
    height: 329px
  }
  .style19 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckmj8.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 56px;
    margin-top: 96px;
    width: 805px;
    height: 616px
  }
  .iphone6785row1 {
    display: flex;
    margin-left: 59px;
    margin-top: 128px;
    width: 805px;
    height: 223px;
    align-items: stretch;
    justify-content: space-between
  }
  .style20,
  .style21,
  .style22 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckn96.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    width: 240px
  }
  .style21,
  .style22 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqcko1k.png)
  }
  .style22 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckore.png)
  }
  .style23,
  .style25 {
    background-color: #f4f4f4;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    margin-left: 59px;
    margin-top: 128px;
    width: 164px;
    height: 162px
  }
  .style23 {
    display: flex;
    margin-top: 66px;
    width: 805px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end
  }
  .style24 {
    color: #707070;
    font-family: itcavantgardegothicstd,serif;
    font-size: 3.9866666666666664em;
    font-weight: 500;
    height: 110px
  }
  .style26 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckpdf.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 56px;
    margin-top: 96px;
    width: 805px;
    height: 616px
  }
  .iphone6786row1 {
    display: flex;
    margin-left: 59px;
    margin-top: 128px;
    width: 805px;
    height: 223px;
    align-items: stretch;
    justify-content: space-between
  }
  .style27,
  .style28 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 240px
  }
  .style27 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckpzr.png)
  }
  .style28 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckqs5.png)
  }
  .style28,
  .style29,
  .style30 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style29 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckrhh.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 240px
  }
  .style30 {
    background-color: #0d16ff;
    margin-left: 304px;
    margin-top: 223px;
    width: 140px;
    height: 140px
  }
  .style51,
  .style52 {
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .style51 {
    margin-top: 0;
    background-color: #000;
    margin-left: 0;
    width: 920px;
    height: 135px
  }
  .style52 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 282px;
    width: 307px;
    height: 96px;
    align-items: center
  }
  .style53 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 1.38em;
    height: 27px
  }
  .style54 {
    background-color: #ededed;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 49px;
    margin-top: 79px;
    width: 822px;
    height: 510px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center
  }
  .style55 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 4.293333333333333em;
    height: 481px
  }
  .iphone6783row0 {
    display: flex;
    margin-left: 64px;
    margin-top: 56px;
    width: 834px;
    height: 361px
  }
  .style56 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckvu4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 393px;
    height: 100%
  }
  .style57 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.6866666666666665em;
    margin-left: 49px;
    height: 329px
  }
  .iphone6783row1 {
    display: flex;
    margin-left: 64px;
    margin-top: 49px;
    width: 834px;
    height: 361px
  }
  .style58 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckwjy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 393px;
    height: 100%
  }
  .style59 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.6866666666666665em;
    margin-left: 49px;
    height: 329px
  }
  .iphone6783row2 {
    display: flex;
    margin-left: 64px;
    margin-top: 49px;
    width: 834px;
    height: 361px
  }
  .style60 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckx7r.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 393px;
    height: 100%
  }
  .style61 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.6866666666666665em;
    margin-left: 49px;
    height: 329px
  }
  .iphone6783row3 {
    display: flex;
    margin-left: 64px;
    margin-top: 49px;
    width: 834px;
    height: 361px
  }
  .style62 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckxxe.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 393px;
    height: 100%
  }
  .style63 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 1.6866666666666665em;
    margin-left: 49px;
    height: 329px
  }
  .style64 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckyjd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 1636px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style71,
  .style73 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    flex-direction: column
  }
  .style71 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqcl190.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 1528px
  }
  .style73 {
    background-color: #fff;
    margin-left: 559px;
    margin-top: 27px;
    width: 341px;
    height: 105px;
    align-items: center;
    justify-content: center
  }
  .style72,
  .style74 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 1.38em;
    height: 27px
  }
  .style72 {
    color: #fff;
    font-size: 1.6866666666666665em;
    margin-left: 25px;
    margin-top: 1077px;
    height: 319px
  }
}
@media (min-width:1200px) {
  .iphone6781row0 {
    display: flex;
    margin-left: 90px;
    margin-top: 118px;
    width: 1085px;
    height: 435px;
    align-items: flex-end
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckfar.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 512px;
    height: 100%
  }
  .style1 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 1.8em;
    margin-left: 51px;
    height: 397px
  }
  .iphone6781row1 {
    display: flex;
    margin-left: 90px;
    margin-top: 77px;
    width: 1085px;
    height: 435px;
    align-items: flex-end
  }
  .style2 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckg2n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 512px;
    height: 100%
  }
  .style3 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 1.8em;
    margin-left: 51px;
    height: 397px
  }
  .style4 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 128px;
    margin-top: 122px;
    width: 998px;
    height: 410px;
    align-items: center;
    flex-direction: column
  }
  .style6 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 5.4em;
    margin-top: 22px;
    height: 307px
  }
  .style7 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckgtz.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 74px;
    margin-top: 125px;
    width: 1050px;
    height: 803px
  }
  .iphone6784row1 {
    display: flex;
    margin-left: 77px;
    margin-top: 166px;
    width: 1050px;
    height: 291px;
    align-items: stretch;
    justify-content: space-between
  }
  .style10,
  .style8,
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckhms.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    width: 314px
  }
  .style10,
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckiij.png)
  }
  .style10 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckj87.png)
  }
  .iphone6782row0 {
    display: flex;
    margin-left: 77px;
    margin-top: 74px;
    width: 1088px;
    height: 470px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckju0.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 512px;
    height: 100%
  }
  .style12 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 2.2em;
    margin-left: 64px;
    height: 429px
  }
  .iphone6782row1 {
    display: flex;
    margin-left: 77px;
    margin-top: 64px;
    width: 1088px;
    height: 470px
  }
  .style13 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckkgd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 512px;
    height: 100%
  }
  .style14 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 2.2em;
    margin-left: 64px;
    height: 429px
  }
  .iphone6782row2 {
    display: flex;
    margin-left: 77px;
    margin-top: 64px;
    width: 1088px;
    height: 470px
  }
  .style15 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckl73.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 512px;
    height: 100%
  }
  .style16 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 2.2em;
    margin-left: 64px;
    height: 429px
  }
  .iphone6782row3 {
    display: flex;
    margin-left: 77px;
    margin-top: 64px;
    width: 1088px;
    height: 470px
  }
  .style17 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqcklt9.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 512px;
    height: 100%
  }
  .style18 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 2.2em;
    margin-left: 64px;
    height: 429px
  }
  .style19 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckmj8.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 74px;
    margin-top: 125px;
    width: 1050px;
    height: 803px
  }
  .iphone6785row1 {
    display: flex;
    margin-left: 77px;
    margin-top: 166px;
    width: 1050px;
    height: 291px;
    align-items: stretch;
    justify-content: space-between
  }
  .style20,
  .style21,
  .style22 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckn96.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    width: 314px
  }
  .style21,
  .style22 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqcko1k.png)
  }
  .style22 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckore.png)
  }
  .style23,
  .style25 {
    background-color: #f4f4f4;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    margin-left: 77px;
    margin-top: 166px;
    width: 214px;
    height: 211px
  }
  .style23 {
    display: flex;
    margin-top: 86px;
    width: 1050px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end
  }
  .style24 {
    color: #707070;
    font-family: itcavantgardegothicstd,serif;
    font-size: 5.2em;
    font-weight: 500;
    height: 144px
  }
  .style26 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckpdf.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 74px;
    margin-top: 125px;
    width: 1050px;
    height: 803px
  }
  .iphone6786row1 {
    display: flex;
    margin-left: 77px;
    margin-top: 166px;
    width: 1050px;
    height: 291px;
    align-items: stretch;
    justify-content: space-between
  }
  .style27,
  .style28 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 314px
  }
  .style27 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckpzr.png)
  }
  .style28 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckqs5.png)
  }
  .style28,
  .style29,
  .style30 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .style29 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckrhh.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    width: 314px
  }
  .style30 {
    background-color: #0d16ff;
    margin-left: 397px;
    margin-top: 291px;
    width: 182px;
    height: 182px
  }
  .style51,
  .style52 {
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .style51 {
    margin-top: 0;
    background-color: #000;
    margin-left: 0;
    width: 1200px;
    height: 176px
  }
  .style52 {
    background-color: #fff;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 368px;
    width: 400px;
    height: 125px;
    align-items: center
  }
  .style53 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 1.8em;
    height: 35px
  }
  .style54 {
    background-color: #ededed;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    margin-left: 64px;
    margin-top: 102px;
    width: 1072px;
    height: 666px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center
  }
  .style55 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 5.6000000000000005em;
    height: 627px
  }
  .iphone6783row0 {
    display: flex;
    margin-left: 83px;
    margin-top: 74px;
    width: 1088px;
    height: 470px
  }
  .style56 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckvu4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 512px;
    height: 100%
  }
  .style57 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 2.2em;
    margin-left: 64px;
    height: 429px
  }
  .iphone6783row1 {
    display: flex;
    margin-left: 83px;
    margin-top: 64px;
    width: 1088px;
    height: 470px
  }
  .style58 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckwjy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 512px;
    height: 100%
  }
  .style59 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 2.2em;
    margin-left: 64px;
    height: 429px
  }
  .iphone6783row2 {
    display: flex;
    margin-left: 83px;
    margin-top: 64px;
    width: 1088px;
    height: 470px
  }
  .style60 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckx7r.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 512px;
    height: 100%
  }
  .style61 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 2.2em;
    margin-left: 64px;
    height: 429px
  }
  .iphone6783row3 {
    display: flex;
    margin-left: 83px;
    margin-top: 64px;
    width: 1088px;
    height: 470px
  }
  .style62 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckxxe.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    width: 512px;
    height: 100%
  }
  .style63 {
    color: #707070;
    font-family: helveticaneue,serif;
    font-size: 2.2em;
    margin-left: 64px;
    height: 429px
  }
  .style64 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqckyjd.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 2134px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style71,
  .style73 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    flex-direction: column
  }
  .style71 {
    background-image: url(https://designresources.assets.yotako.io/yjqs8cjvqcl190.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 1994px
  }
  .style73 {
    background-color: #fff;
    margin-left: 730px;
    margin-top: 35px;
    width: 445px;
    height: 138px;
    align-items: center;
    justify-content: center
  }
  .style72,
  .style74 {
    color: #000;
    font-family: helveticaneue,serif;
    font-size: 1.8em;
    height: 35px
  }
  .style72 {
    color: #fff;
    font-size: 2.2em;
    margin-left: 32px;
    margin-top: 1405px;
    height: 416px
  }
}